@import url(http://nicholastodor.com/sf/usesf.css);
html, body { 
    height: 100%;
    max-width: 1200px
    /*font-family: 'San Francisco Display', Helvetica, sans-serif;*/
    font-family: Helvetica, "Helvetica Neue", Verdana, sans-serif;
}
 .center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: rgb(245, 245, 245); /* The Fallback */
    background: rgba(255, 255, 255, 0.5);
 }

body {
    background-color: white;
    background-image: url('https://farm3.staticflickr.com/2926/14598539874_6efe018a3c_o.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    text-rendering: optimizeLegibility;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

h1 {
    font-size: 500%;
    text-align: center;
    color: DarkGreen;
    <!--margin-left: 20px;-->
}
h2 {
    text-align: center;
    color: black;
}

p {
    text-align: left;
    margin-left: 300px;
    margin-right:300px;
}


