@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Lato:400,700|PT+Sans:400,700|Open+Sans:400,700);
html, body { 
    height: 100%;
    max-width: 1200px
    font-family: 'Lato', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}
 .center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: rgb(245, 245, 245); /* The Fallback */
    background: rgba(255, 255, 255, 0.5);
 }

body {
    background-color: white;
    background-image: url('https://farm3.staticflickr.com/2926/14598539874_6efe018a3c_o.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1632px 1224px;
    text-rendering: optimizeLegibility;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

h1 {
    font-family: "PT Sans", sans-serif;
    font-size: 500%;
    text-align: center;
    color: DarkGreen;
    <!--margin-left: 20px;-->
}
h2 {
    font-family: "PT Sans", sans-serif;
    text-align: center;
    color: black;
}

p {
    font-family: "PT Sans", sans-serif;
    text-align: left;
    margin-left: 300px;
    margin-right:300px;
}


